@import url(https://fonts.google.com/specimen/Open+Sans);
@import url(https://fonts.google.com/specimen/Raleway);
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    }
    
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

ul li {
    list-style: none;
}

/**********
header
**********/
    
header {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 0 3em 0 3em;

}
    
.header_container{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    max-width: 100%;
    padding: 2em 0 2em 0;
    justify-content: space-between;
   
}

.logo {
    width: 8em;
}
    
.nav ul{
    display: flex;
    gap: 3rem;
    color: hsl(0, 0%, 75%);
}
    
/**************
first_container
**************/

.first_container{
    display: flex;
    flex-direction: row;
    margin: 0 3em 0 3em;
    width: 93vw;
}

.contentbox_left{
    width: 50%;
}
    
.boldtext {
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    margin-bottom: 18px;
}

.smalltext {
    color: hsl(238, 22%, 44%);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    margin-bottom: 18px;
}

.email1 {
    width: 50%;
    padding: 0.8em;
    border-radius: 3px;
    border: 2px solid hsl(0, 0%, 75%);
}

.button1 {
    padding: 0.8em;
    width: 30%;
    background-color: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
    border: none;
}

.contentbox_left{
    width: 50%;
}

.illustration_1 {
    margin-left: 18em;
    width: 40rem;
}
    
/**************
second_container
**************/

.second_container {
    display: flex;
    flex-direction: row;
    margin: 0 3em 0 3em;
    width: 93vw;
    background-image: url(./img/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contentbox_left2 {
    width: 50%;
    margin-top: 6em;
}

.see {
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    border-bottom: 2px solid hsl(170, 45%, 43%); 
}

blockquote {
    background-color: hsl(240, 75%, 98%);
    max-width: 400px;
    padding: 2.5em;
    box-shadow: 1px 1px 3px hsl(243, 87%, 12%);
    margin-top: 3em;
}

blockquote img {
    width: 20px;
    border-radius: 100%;
}

blockquote p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.125em;
}
  
.profile {
    margin-top: 1.5em;
    display: flex;
}

.name {
    font-size: 0.75em;
    font-weight: 600;
    margin-left: 0.5em;
}
    
.detail{
    font-size: 0.625em;
    margin-left: 0.5em;
}

.image {
    margin-left: 18em;
    margin-top: 8em;
    width: 40rem;
}

/**************
First footer
**************/

.first_footer {
    max-width: 100%;
    max-height: 20%;
    display: flex;
    flex-direction: row;
    padding: 2em;
    background-color: hsl(238, 22%, 44%);
    justify-content: space-between;
    color: hsl(240, 75%, 98%);
}
    
.left_side {
    margin-left: 1em;
}

.left_side h1 {
    margin-bottom: 12px;
}

.right_side {
    margin-right: 1em;
}

.form2 {
    display: flex;
    flex-direction: column;
}
    
.email2 {
    padding: 1em;
    width: 400px; 
    margin-bottom: 0.5em;      
}
    
.button2{
    padding: 0.8em;
    width: 200px;
    background-color: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
    border: none;
}
   
/**************
second footer
**************/

.second_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
}

.column1 {
    margin: 4em 0 4em 3em;
}

.social {
    width: 20px;
    color: white;
    margin-right: 1em;
}

.contact {
    margin-bottom: 0.5em;
}

.fylo {
    margin-bottom: 1.5em;
}

.column2 {
    margin-top: 8em;
}

.column2 li{
    margin-bottom: 15px;
}

.column3 {
    margin-top: 8em;
}

.column3 li{
    margin-bottom: 15px;
}

.column4 {
    display: flex;
    margin-top: 8em;
    margin-right: 8em;
}

.socialmedia {
    width: 25px;
    margin-right: 10px;
}